<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="Timing" level="info"/>
    <logger name="org.zalando.spearheads.innkeeper.oauth" level="info"/>
    <logger name="org.zalando.spearheads.innkeeper.services" level="info"/>
    <logger name="org.zalando.spearheads.innkeeper.routes.Routes" level="info"/>
    <logger name="org.zalando.spearheads.innkeeper.routes" level="info"/>
    <logger name="org.zalando.spearheads.innkeeper.utils" level="info"/>
    <logger name="org.zalando.spearheads.innkeeper.dao" level="info"/>

</configuration>
